/*  * {border: 1px solid red;}  */
#loginForm{z-index: 9995;}
#signUpForm{z-index: 9995;}
.modal_button_group{text-align: center;}
.login_button{width: 200px;margin: 10px 0 10px 0;}
.body_in_modal div {
	height: 34px;
	line-height: 34px;
}
.top_logo{width: 100px;}
#top_title_a{text-decoration: none;color: black;}
.top_title {font-size: 50px;}
.top_one>div {
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}

.top_two>div {
	height: 100px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
}

.top_div, ul, li {
	margin: 0;
	padding: 0;
}
.top_div li,.top_main_menu{
 	height: 30px;
 	line-height: 35px; 
}

.top_div>ul {
	display: inline-block;
}

.top_div {
	margin: 0px 5px 3px 5px;
	padding: 0 0 3px 0;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
	-o-box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #5c5c5c;
	text-align: center;
	z-index: 9990;
}

.top_div ul li {
	float: left;
	list-style-type: none;
	width: 150px;
	text-align: center;
}

.top_div a {
	height: 16px;
	color: #f1f1f1;
	font-family: arial;
	font-size: 15px;
	padding: 0 10px 0 10px;
	text-decoration: none;
}

.top_div a:hover {
	color: #D4F4FA;
	border-bottom: 3px solid #FAED7D;
}

.top_div ul ul {
 	display: none; 
	position: absolute;
}
.top_div ul ul li {
	float: none;
 	background-color: #5c5c5c; 
}
